---
menu:
  - name: tables
    label: Tables
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>AELOGICA Style Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css' />
    {% include_css twitter/bootstrap %}
    {% include_css plugins/snippet %}
    {% include_css print %}
    <!--[if IE]>
      {% include_css ie %}
    <![endif]-->
  </head>
  <body>
    <section id='container'>
      <header></header>
      <nav role='navigation'>
        <ul>
          {% for element in page.menu %}
          {% if element.name == page.name %}
          <li>
            <a class='menu-item current' href='http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% else %}
          <li>
            <a class='menu-item' href='http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <section id='main-content'>
        <p>
          <a name='#code'></a>
          <div class='bs-docs-example'>
            For example,
            <code>&lt;section&gt;</code>
            should be wrapped as inline.
          </div>
          <div class='bs-docs-example'>
            <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
          </div>
        </p>
        <p>
          <a name='#layout'></a>
        </p>
        <div class='bs-docs-grid'>
          <div class='row show-grid'>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1"}</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
          </div>
          <div class='row show-grid'>
            <div class='span2'>2</div>
            <div class='span3'>3</div>
            <div class='span4'>4</div>
            <div class='span3'>3</div>
          </div>
          <div class='row show-grid'>
            <div class='span4'>4</div>
            <div class='span5'>5</div>
          </div>
          <div class='row show-grid'>
            <div class='span9'>9</div>
          </div>
        </div>
        <p>
          <a name='#tables'></a>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-striped'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-bordered'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-hover'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </section>
      <footer>
        <p>
          Hosted on Github Pages
        </p>
      </footer>
    </section>
    {% include_js jquery-1.7.2.min %}
    {% include_js jquery.snippet.min %}
  </body>
</html>
