:plain
  ---
  menu:
    - name: tables
      label: Tables
  ---

!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title AELOGICA Style Guide
    %link{:href => "http://fonts.googleapis.com/css?family=Inconsolata", :rel => "stylesheet", :type => "text/css"}/
    %link{:href => "http://fonts.googleapis.com/css?family=Anonymous+Pro", :rel => "stylesheet", :type => "text/css"}/
    {% include_css twitter/bootstrap %}
    {% include_css plugins/snippet %}
    {% include_css print %}
    /[if IE]
      {% include_css ie %}

  %body
    %section#container

      %header

      %nav{:role => "navigation"}
        %ul
          {% for element in page.menu %}
          {% if element.name == page.name %}
          %li
            %a{:class => "menu-item current", :href => "http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}"} {{ element.label }}
          {% else %}
          %li
            %a{:class => "menu-item", :href => "http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}"} {{ element.label }}
          {% endif %}
          {% endfor %}

      %section#main-content
        %p
          %a{:name => "#code"}

          .bs-docs-example
            For example,
            %code &lt;section&gt;
            should be wrapped as inline.

          .bs-docs-example
            %pre
              &lt;p&gt;Sample text here...&lt;/p&gt;

        %p
          %a{:name => "#layout"}

        .bs-docs-grid
          .row.show-grid
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1"}
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
            .span1 1
          .row.show-grid
            .span2 2
            .span3 3
            .span4 4
            .span3 3
          .row.show-grid
            .span4 4
            .span5 5
          .row.show-grid
            .span9 9       

        %p
          %a{:name => "#tables"}
        
        %table.table
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

        %table.table-striped
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

        %table.table-bordered
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td Larry
              %td the Bird
              %td @twitter

        %table.table-hover
          %thead
            %tr
              %th #
              %th First Name
              %th Last Name
              %th Username
          %tbody
            %tr
              %td 1
              %td Mark
              %td Otto
              %td @mdo
            %tr
              %td 2
              %td Jacob
              %td Thornton
              %td @fat
            %tr
              %td 3
              %td{:colspan => "2"} Larry the Bird
              %td @twitter

      %footer
        %p
          Hosted on Github Pages

    {% include_js jquery-1.7.2.min %}
    {% include_js jquery.snippet.min %}
