---
menu:
  - name: tables
    label: Tables
---
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta charset='utf-8' />
    <title>AELOGICA Style Guide</title>
    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css' />
    <link href='http://fonts.googleapis.com/css?family=Anonymous+Pro' rel='stylesheet' type='text/css' />
    {% include_css twitter/bootstrap %}
    {% include_css plugins/snippet %}
    {% include_css print %}
    <!--[if IE]>
      {% include_css ie %}
    <![endif]-->
  </head>
  <body>
    <section id='container'>
      <header></header>
      <nav role='navigation'>
        <ul>
          {% for element in page.menu %}
          {% if element.name == page.name %}
          <li>
            <a class='menu-item current' href='http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% else %}
          <li>
            <a class='menu-item' href='http://{{ site.base_url }}/{{ site.project_name }}/{{ element.name }}'>{{ element.label }}</a>
          </li>
          {% endif %}
          {% endfor %}
        </ul>
      </nav>
      <section id='tests'>
        <div class='navbar navbar-inverse navbar-fixed-top'>
          <div class='navbar-inner'>
            <div class='container'>
              <a class='brand'>Bootstrap</a>
            </div>
          </div>
        </div>
        <div class='bs-docs-example'>
          <div class='container'>
            <div class='row'>
              <div class='half'>
                <div class='type-test'>
                  <h1>h1. Heading 1</h1>
                  <h2>h2. Heading 2</h2>
                  <h3>h3. Heading 3</h3>
                  <h4>h4. Heading 4</h4>
                  <h5>h5. Heading 5</h5>
                  <h6>h6. Heading 6</h6>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div>
              <div class='half'>
                <div class='type-test'>
                  <h1>h1. Heading 1</h1>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <h2>h2. Heading 2</h2>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <h3>h3. Heading 3</h3>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <h4>h4. Heading 4</h4>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <h5>h5. Heading 5</h5>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                  <h6>h6. Heading 6</h6>
                  <p>Sed posuere consectetur est at lobortis. Maecenas sed diam eget risus varius blandit sit amet non magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                </div>
              </div>
            </div>
          </div>
          <div class='container'>
            <div class='row'>
              <div class='half'>
                <h4>Bordered without thead</h4>
                <table class='table table-bordered'>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                </table>
                <h4>Bordered without thead, with caption</h4>
                <table class='table table-bordered'>
                  <caption>Table caption</caption>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                </table>
                <h4>Bordered without thead, with colgroup</h4>
                <table class='table table-bordered'>
                  <colgroup>
                    <col class='col1'>
                      <col class='col2'>
                        <col class='col3' />
                      </col>
                    </col>
                  </colgroup>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>3</td>
                      <td>6</td>
                      <td>9</td>
                    </tr>
                  </tfoot>
                </table>
                <h4>Bordered with thead, with colgroup</h4>
                <table class='table table-bordered'>
                  <colgroup>
                    <col class='col1'>
                      <col class='col2'>
                        <col class='col3' />
                      </col>
                    </col>
                  </colgroup>
                  <thead>
                    <tr>
                      <th>A</th>
                      <th>B</th>
                      <th>C</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>3</td>
                      <td>6</td>
                      <td>9</td>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /span -->
              <div class='half'>
                <h4>Bordered with thead and caption</h4>
                <table class='table table-bordered'>
                  <caption>Table caption</caption>
                  <thead>
                    <tr>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>2</td>
                      <td>3</td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <td>3</td>
                      <td>6</td>
                      <td>9</td>
                    </tr>
                  </tfoot>
                </table>
                <h4>Bordered with rowspan and colspan</h4>
                <table class='table table-bordered'>
                  <thead>
                    <tr>
                      <th>1</th>
                      <th>2</th>
                      <th>3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan='2'>1 and 2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td rowspan='2'>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td rowspan='2'>1</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td colspan='2'>2 and 3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- /span -->
            </div>
            <!-- /row -->
            <h4>Grid sizing</h4>
            <div class='row'>
              <div class='span12'>
                <table class='table table-bordered'>
                  <thead>
                    <tr>
                      <th class='span3'>1</th>
                      <th class='span4'>2</th>
                      <th>3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan='2'>1 and 2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td rowspan='2'>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td rowspan='2'>1</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td colspan='2'>2 and 3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- /row -->
            <h4>Fluid grid sizing</h4>
            <div class='row-fluid'>
              <div class='span12'>
                <table class='table table-bordered'>
                  <thead>
                    <tr>
                      <th class='span3'>1</th>
                      <th class='span4'>2</th>
                      <th>3</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td colspan='2'>1 and 2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td rowspan='2'>2</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td rowspan='2'>1</td>
                      <td>3</td>
                    </tr>
                    <tr>
                      <td colspan='2'>2 and 3</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id='main-content'>
        <p>
          <a name='#code'></a>
          <div class='bs-docs-example'>
            For example,
            <code>&lt;section&gt;</code>
            should be wrapped as inline.
          </div>
          <div class='bs-docs-example'>
            <pre>&lt;p&gt;Sample text here...&lt;/p&gt;</pre>
          </div>
        </p>
        <p>
          <a name='#layout'></a>
        </p>
        <div class='bs-docs-grid'>
          <div class='row show-grid'>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1"}</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
            <div class='span1'>1</div>
          </div>
          <div class='row show-grid'>
            <div class='span2'>2</div>
            <div class='span3'>3</div>
            <div class='span4'>4</div>
            <div class='span3'>3</div>
          </div>
          <div class='row show-grid'>
            <div class='span4'>4</div>
            <div class='span5'>5</div>
          </div>
          <div class='row show-grid'>
            <div class='span9'>9</div>
          </div>
        </div>
        <p>
          <a name='#tables'></a>
        </p>
        <table class='table'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-striped'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-bordered'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <table class='table-hover'>
          <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <td>2</td>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <td>3</td>
              <td colspan='2'>Larry the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
      </section>
      <footer>
        <p>
          Hosted on Github Pages
        </p>
      </footer>
    </section>
    {% include_js jquery-1.7.2.min %}
    {% include_js jquery.snippet.min %}
  </body>
</html>
